*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #446ebd, #c3dcfa);
}

.calculator{
    width: 340px;
    padding: 25px;
    border-radius: 25px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

#display{
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 32px;
    text-align: right;
    background: rgba(0,0,0,0.3);
    color: #fff;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.btn{
    height: 65px;
    border: none;
    outline: none;
    border-radius: 18px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    background: rgba(255,255,255,0.08);
    color: white;
    transition: all 0.2s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn:hover{
    transform: translateY(-3px);
    background: rgba(255,255,255,0.15);
}

.btn:active{
    transform: scale(0.95);
}

.clear{
    background: #ff4d6d;
}

.clear:hover{
    background: #ff3355;
}

.plus{
    grid-row: span 2;
    height: 145px;
    background: #4361ee;
}

.plus:hover{
    background: #3651d4;
}

.equal{
    grid-row: span 2;
    height: 145px;
    background: #06d6a0;
}

.equal:hover{
    background: #05b384;
}

.zero{
    grid-column: span 2;
}